################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/gevs-backend/.vs
/gevs-backend/gevs-api/bin
/gevs-backend/gevs-identity/bin
/gevs-backend/gevs-identity/obj
/gevs-backend/obj
/gevs-backend/.vs
/gevs-api/obj
obj
bin
.idea